* {
  font-family: "Merriweather", serif;
}

body {
  background-color: #1a2036;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container {
  background-color: #252b42;
  border-radius: 25px;
  padding: 35px;
}
body .container .menu {
  background-color: #1a2036;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 15px;
  height: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
body .container .menu .menu--icons div {
  padding: 13px;
  border-radius: 10px;
}
body .container .menu .menu--icons div img {
  pointer-events: none;
}
body .container .menu .menu--icons .active {
  background-color: #252b42;
}
body .container .menu .menu--icons .icon:hover {
  transform: scale(1.1);
}
body .container .groups .groups--header .groups--header-name {
  display: flex;
  justify-content: flex-start;
}
body .container .groups .groups--header .groups--header-name .name {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .groups .groups--header .groups--header-name .name img {
  width: 32px;
  height: 32px;
}
body .container .groups .groups--header .groups--header-name .name span {
  font-size: 26px;
  color: #b1b9d8;
}
body .container .groups .groups--header .groups--header-icon {
  display: flex;
  justify-content: flex-end;
}
body .container .groups .groups--header .groups--header-icon #header-icons {
  display: flex;
  background-color: #1a2036;
  border-radius: 20px;
  border: 3px solid #1a2036;
}
body .container .groups .groups--header .groups--header-icon #header-icons div {
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}
body .container .groups .groups--header .groups--header-icon #header-icons div img {
  pointer-events: none;
}
body .container .groups .groups--header .groups--header-icon #header-icons .active {
  background-color: #252b42;
}
body .container .groups .groups--card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
}
body .container .groups .groups--card .groups--card-list {
  margin-bottom: 20px;
  display: flex;
  align-items: stretch;
}
body .container .groups .groups--card .groups--card-list .card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 50px 0;
  width: 100%;
  border-radius: 10px;
  background-color: #2e3650;
  color: #b1b9d8;
}
body .container .groups .groups--card .groups--card-list .card .circle {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #8e66ff;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  right: 12px;
  top: 12px;
}
body .container .groups .groups--card .groups--card-list .card .card-image.add {
  background-color: #1a2036;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
}
body .container .groups .groups--card .groups--card-list .card .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  text-align: center;
}
body .container .groups .groups--card .groups--card-list .card .card-body .card-text {
  font-weight: 700;
  font-size: 20px;
}
body .container .groups .groups--card .groups--card-list .card:hover {
  transform: scale(0.98);
}
body .container .groups .groups--card .groups--card-list .card:hover img {
  transform: scale(1.1);
}

@media (max-width: 575px) {
  body .container {
    margin: 35px;
  }
  body .container .menu {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-bottom: 20px;
  }
  body .container .menu .menu--icons {
    display: flex;
    flex-direction: row;
  }
}
/* responsive css
@media (max-width: 575px) { }
// Small-medium devices 
@media (min-width: 576px) and (max-width: 767px) { }
//Medium-large devices
@media (min-width: 768px) and (max-width: 992px) { }
// Large devices (992px and up)

@media (max-width: 1200px) {


}
.row {
    .menu-top {
        background-color: red;
        border-radius: 20px;
        height: 100%;
        width: max-content;
        display: flex;
        flex-direction: row;
        .icon {
            padding: 13px;
            border-radius: 10px;
            &.icon1 {}
            &.icon2 {
                background-color: $menuItemsBlue;
            }
        }
    }
}
*//*# sourceMappingURL=style.css.map */