$darkBlue: #1a2036;
$blue: #252b42;
$lightBlue: #b1b9d8;

$menuItemsBlue: #242b42;

* {
    font-family: "Merriweather", serif;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: $darkBlue;
    min-height: 100vh;
    @include center;
    .container {
        background-color: $blue;
        border-radius: 25px;
        padding: 35px;
        .menu {
            background-color: $darkBlue;
            @include center;
            border-radius: 20px;
            padding: 15px;
            height: 100%;
            width: max-content;
            .icon {
                padding: 13px;
                border-radius: 10px;
                &.icon1 {
                }
                &.icon2 {
                    background-color: $menuItemsBlue;
                }
            }
            .icon:hover {
                transform: scale(1.1);
            }
        }
        .groups {
            .groups--header {
                .groups--header-name {
                    display: flex;
                    justify-content: flex-start;
                    .name {
                        @include center;
                        img {
                            width: 32px;
                            height: 32px;
                        }
                        span {
                            font-size: 26px;
                            color: $lightBlue;
                        }
                    }
                }
                .groups--header-icon {
                    display: flex;
                    justify-content: flex-end;
                    .icons {
                        display: flex;
                        background-color: $darkBlue;
                        border-radius: 20px;
                        border: 3px solid $darkBlue;
                        .icon {
                            padding: 10px;
                            border-radius: 0 20px 20px 0;
                            &.icon1 {
                            }
                            &.icon2 {
                                background-color: $blue;
                            }
                        }
                    }
                }
            }
            .groups--card {
                display: flex;
                flex-wrap: wrap;
                margin-top: 35px;
                .groups--card-list {
                    margin-bottom: 20px;
                    display: flex;
                    align-items: stretch;
                    .card {
                        @include center;
                        position: relative;
                        padding: 50px 0;
                        width: 100%;
                        border-radius: 10px;
                        background-color: #2e3650;
                        color: $lightBlue;
                        .circle {
                            width: 11px;
                            height: 11px;
                            border-radius: 50%;
                            background-color: #8e66ff;
                            position: absolute;
                            display: flex;
                            justify-content: flex-end;
                            align-items: flex-end;
                            right: 12px;
                            top: 12px;
                        }
                        .card-image {
                            &.add {
                                background-color: $darkBlue;
                                border-radius: 50%;
                                padding: 12px;
                                cursor: pointer;
                            }
                        }
                        .card-body {
                            @include center;
                            flex-direction: column;
                            font-size: 14px;
                            text-align: center;
                            .card-text {
                                font-weight: 700;
                                font-size: 20px;
                            }
                        }
                    }
                    .card:hover {
                        transform: scale(0.98);
                        img {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    body {
        .container {
            margin: 35px;
            .menu {
                width: 100%;
                height: max-content;
                margin-bottom: 20px;
                .menu--icons {
                    display: flex;
                    flex-direction: row;
                }
            }
        }
    }
}

/* responsive css
@media (max-width: 575px) { }
// Small-medium devices 
@media (min-width: 576px) and (max-width: 767px) { }
//Medium-large devices
@media (min-width: 768px) and (max-width: 992px) { }
// Large devices (992px and up)

@media (max-width: 1200px) {
    
    
}
.row {
    .menu-top {
        background-color: red;
        border-radius: 20px;
        height: 100%;
        width: max-content;
        display: flex;
        flex-direction: row;
        .icon {
            padding: 13px;
            border-radius: 10px;
            &.icon1 {}
            &.icon2 {
                background-color: $menuItemsBlue;
            }
        }
    }
}
*/
